<ion-view>

  <ion-nav-bar>
    <ion-nav-title>
      <h3>ตรวจสอบเวลาเรียน</h3>
    </ion-nav-title>

<ion-nav-buttons side="left">
  <button class="button button-iocon ion-chevron-left icon" ng-click="btnBack()">   กลับ</button>
</ion-nav-buttons>
</ion-nav-bar>

<ion-content id="ppp">
  <div class="row header">
          <div class="col">รหัส</div>
          <div class="col">ชื่อ</div>
          <div class="col">เวลา</div>
          <div class="col">ตำแหน่ง</div>
  </div>

  <div class="row header">
          <div class="col">56030247</div>
          <div class="col">กิตติชัย</div>
          <div class="col">09.00 น.</div>
          <div class="col"></div>
  </div>

  <div class="row header">
          <div class="col">56030276</div>
          <div class="col">ธณินทร์</div>
          <div class="col">09.05 น.</div>
          <div class="col"></div>
  </div>

  <div class="row header">
          <div class="col">56030283</div>
          <div class="col">ธิติ</div>
          <div class="col">08.59 น.</div>
          <div class="col"></div>
  </div>

  <div class="row header">
          <div class="col">56030349</div>
          <div class="col">สันธิลา</div>
          <div class="col">08.50 น.</div>
          <div class="col"></div>
  </div>


</ion-content>

</ion-view>
