<ion-view style="" class=" " id="page12" title="Profile">
    <ion-content class="has-header" padding="false" style="background: url(img/material-graphite.jpg) center; background-size: cover;">
        <form name="settingForm" class="list " id="settings-form">
            <ion-list class="">
                <!-- Profile Cover Page -->
                <div class="profile-nav col-md-3">
                    <div class="panel">
                        <div class="user-heading round">
                            <a href="#">
                                <img ng-src="{{&apos;img/fk/&apos;+ user_info.photoURL +&apos;.jpg&apos;}}">
                            </a>
                            <p style="color: #ffffff;">{{user_info.displayName}}</p>
                        </div>
                    </div>
                </div>
                <a>ชื่อ - นามสกุล :</a>
                <label class="item item-input ic-selected">
                    <input style="color: #ffffff;" ng-model="user_extras.Name" type="text" placeholder="Name">
                </label>

                <a>รหัสนักศึกษา :</a>
                <label class="item item-input ic-selected">
                    <input style="color: #ffffff;" ng-model="user_extras.StudentID" type="text" placeholder="Student ID ">
                </label>

                <a>คณะ :</a>
                <label class="item item-input ic-selected">
                <select name="Faculty" ng-model="user_extras.Faculty" placeholder="Faculty">
                  <option>คณะวิศวกรรมศาสตร์</option>
                  <option>คณะสถาปัตยกรรมศาสตร์</option>
                  <option>คณะครุศาสตร์อุตสาหกรรม</option>
                  <option>คณะเทคโนโลยีการเกษตร</option>
                  <option>คณะวิทยาศาสตร์</option>
                  <option>คณะอุตสาหกรรมเกษตร</option>
                  <option>คณะเทคโนโลยีสารสนเทศ</option>
                  <option>วิทยาลัยนานาชาติ</option>
                  <option>วิทยาลัยนาโนเทคโนโลยี</option>
                  <option>วิทยาลัยนวัตกรรมการจัดการข้อมูล</option>
                  <option>วิทยาลัยการบริหารและจัดการ</option>
                  <option>คณะศิลปศาสตร์ประยุกต์</option>   
                </select> 
                </label>            

                <a>ภาควิชา :</a>
                <label class="item item-input ic-selected">
                <select name="Program" ng-model="user_extras.Program" placeholder="Program">
                  <option>ครุศาสตร์วิศวกรรม</option>
                  <option>ครุศาสตร์เกษตร</option>
                  <option>ครุศาสตร์สถาปัตยกรรม</option>   
                </select> 
                </label>

                <a>สาขาวิชา :</a>
                <label class="item item-input ic-selected">
                <select name="Major" ng-model="user_extras.Major" placeholder="Major">
                  <option>วิศวกรรมโทรคมนาคม</option>
                  <option>วิศวกรรมอิเล็กทรอนิกส์</option>
                  <option>วิศวกรรมคอมพิวเตอร์</option>   
                </select>
                </label>
            </ion-list>
        </form>
    </ion-content>
    <!-- <ion-footer-bar  class="bar button-bar-footer" style="height: auto;">   -->
    <div id="footer" class="button-bar">
        <a style="min-width: 50%;border-radius: 0px;" ng-click="cancel()" class="button button-lite icon-left ion-close">Cancel</a>
        <a style="min-width: 50%;border-radius: 0px;" ng-click="save(user_extras,data_editable)" class="button button-assertive icon-left ion-checkmark">Save</a>
    </div>
    <!-- </ion-footer-bar>  -->
</ion-view>
