<ion-view title="สมัครใช้งาน">

  
  <ion-content id="background">
  
    <div class="list list-inset card">
    <ion-list>

     <label class="item item-input item-stacked-label">
        <span class="input-label">ชื่อ</span>
        <input type="text" placeholder="เจริญดี">
      </label>

      <label class="item item-input item-stacked-label">
         <span class="input-label">นามสกุล</span>
         <input type="text" placeholder="ดีมาก">
       </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">รหัสนักศึกษา</span>
        <input type="number" placeholder="เช่น 56030xxx">
      </label>

      <span class="input-label">คณะ</span>
      <label class="item item-input ic-selected">
                <select name="Faculty" ng-model="user_extras.Faculty" placeholder="Faculty">
                  <option>คณะวิศวกรรมศาสตร์</option>
                  <option>คณะสถาปัตยกรรมศาสตร์</option>
                  <option>คณะครุศาสตร์อุตสาหกรรม</option>
                  <option>คณะเทคโนโลยีการเกษตร</option>
                  <option>คณะวิทยาศาสตร์</option>
                  <option>คณะอุตสาหกรรมเกษตร</option>
                  <option>คณะเทคโนโลยีสารสนเทศ</option>
                  <option>วิทยาลัยนานาชาติ</option>
                  <option>วิทยาลัยนาโนเทคโนโลยี</option>
                  <option>วิทยาลัยนวัตกรรมการจัดการข้อมูล</option>
                  <option>วิทยาลัยการบริหารและจัดการ</option>
                  <option>คณะศิลปศาสตร์ประยุกต์</option>   
                </select> 
                </label>            

                <span class="input-label">ภาควิชา</span>
                <label class="item item-input ic-selected">
                <select name="Program" ng-model="user_extras.Program" placeholder="Program">
                  <option>ครุศาสตร์วิศวกรรม</option>
                  <option>ครุศาสตร์เกษตร</option>
                  <option>ครุศาสตร์สถาปัตยกรรม</option>   
                </select> 
                </label>

                <span class="input-label">สาขาวิชา</span>
                <label class="item item-input ic-selected">
                <select name="Major" ng-model="user_extras.Major" placeholder="Major">
                  <option>วิศวกรรมโทรคมนาคม</option>
                  <option>วิศวกรรมอิเล็กทรอนิกส์</option>
                  <option>วิศวกรรมคอมพิวเตอร์</option>   
                </select>
                </label>
      </ion-list>
      </div>
    

     <button class="button button1">สมัครใช้งาน</button>
     <button class="button button3" ng-click="btnBack()">กลับ</button>

  </ion-content>
</ion-view>
