<ion-view title="สมัครใช้งาน">

  
  <ion-content id="background">
  
    <div class="list list-inset card">
    <ion-list>

        <ng-form name="firstnameForm" class="item item-input item-stacked-label">
            ชื่อ <input placeholder="กรุณากรอกชื่อ" type="text" ng-model="firstname" name="firstname" ng-pattern="RE" /><br />
            <span ng-show="firstnameForm.firstname.$error.pattern" style="color:red">กรุณากรอกตัวอักษรอย่างเดียว</span>
        </ng-form>

        <ng-form name="lastnameForm" class="item item-input item-stacked-label">
            นามสกุล <input placeholder="กรุณากรอกนามสกุล" type="text" ng-model="lastname" name="lastname" ng-pattern="RE" /><br />
            <span ng-show="lastnameForm.lastname.$error.pattern" style="color:red">กรุณากรอกตัวอักษรอย่างเดียว</span>
        </ng-form>

        <ng-form name="idstudentForm" class="item item-input item-stacked-label">
            รหัสนักศึกษา <input placeholder="กรุณากรอกรหัสนักศึกษา" type="text" ng-model="idstudent" name="idstudent" ng-pattern="NE" /><br />
            <span ng-show="idstudentForm.idstudent.$error.pattern" style="color:red">กรุณากรอกหรัสนักศึกษา</span>
        </ng-form>

        <ng-form name="emailForm" class="item item-input item-stacked-label">
            E-mail <input placeholder="กรุณากรอกรหัสนักศึกษา" type="text" ng-model="email" name="email" ng-pattern="Email" /><br />
            <span ng-show="emailForm.email.$error.pattern" style="color:red">E-mail ของ @kmitl.ac.th เท่านั้น</span>
        </ng-form>

      
      <label class="item item-input ic-selected">
      <span class="input-label">คณะ</span>
      
                <select name="Faculty" ng-model="user_extras.Faculty" placeholder="Faculty">
                  <option>คณะวิศวกรรมศาสตร์</option>
                  <option>คณะสถาปัตยกรรมศาสตร์</option>
                  <option>คณะครุศาสตร์อุตสาหกรรม</option>
                  <option>คณะเทคโนโลยีการเกษตร</option>
                  <option>คณะวิทยาศาสตร์</option>
                  <option>คณะอุตสาหกรรมเกษตร</option>
                  <option>คณะเทคโนโลยีสารสนเทศ</option>
                  <option>วิทยาลัยนานาชาติ</option>
                  <option>วิทยาลัยนาโนเทคโนโลยี</option>
                  <option>วิทยาลัยนวัตกรรมการจัดการข้อมูล</option>
                  <option>วิทยาลัยการบริหารและจัดการ</option>
                  <option>คณะศิลปศาสตร์ประยุกต์</option>   
                </select> 
                </label>  

                <label class="item item-input ic-selected">
                <span class="input-label">ภาควิชา</span>                
                <select name="Program" ng-model="user_extras.Program" placeholder="Program">
                  <option>ครุศาสตร์วิศวกรรม</option>
                  <option>ครุศาสตร์เกษตร</option>
                  <option>ครุศาสตร์สถาปัตยกรรม</option>   
                </select> 
                </label>

                <label class="item item-input ic-selected">
                <span class="input-label">สาขาวิชา</span>
                <select name="Major" ng-model="user_extras.Major" placeholder="Major">
                  <option>วิศวกรรมโทรคมนาคม</option>
                  <option>วิศวกรรมอิเล็กทรอนิกส์</option>
                  <option>วิศวกรรมคอมพิวเตอร์</option>   
                </select>
                </label>
      </ion-list>
      </div>
    

     <button class="button button1">สมัครใช้งาน</button>
     <button class="button button3" ng-click="btnBack()">กลับ</button>

  </ion-content>
</ion-view>
