<ion-view>

  <ion-header-bar>
      <button class="button button-iocon ion-chevron-left icon>Edit()" ng-click="btnBack()">   กลับ</button>
      <h1 class="title">รายวิชา</h1>
  </ion-header-bar>

    <ion-content id="ppp">
      <button class="button buttonSj-At" id="B1" ng-click="btngoCheckTime()">EDUCATIONAL COMPUTER TECHNOLOGY</button>
      <button class="button buttonSj-At" id="B1" ng-click="btngoCheckTime()">TECHNOLOGY PHOTOGRAPHY</button>
      <button class="button buttonSj-At" id="B1" ng-click="btngoCheckTime()">COMPUTER SECURTY</button>
      <button class="button buttonSj-At" ng-click="btngo()">----</button>
    </ion-content>

</ion-view>
